<div class="main-content"
     *ngIf="columns && data">
    <div class="columns"
         [ngStyle]="{'grid-template-columns': 'repeat(' + columns.length + ', 150px)'}">
        <div *ngFor="let col of columns; trackBy: trackByFn"
             class="table-col">{{col}}
        </div>
    </div>
    <ng-container *ngFor="let row of data; trackBy: trackByRow">
        <div class="columns"
             [ngStyle]="{'grid-template-columns': 'repeat(' + columns.length + ', 150px)'}">
            <ng-container *ngFor="let col of columns">
                <div class="table-col flex">
                    <label>
                        <input type="text" [(ngModel)]="row[col]" (ngModelChange)="changeModel($event)">
                    </label>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
